@model IEnumerable<SchoolSystem.Models.ViewModels.SchoolDiary.Grades.AllGradesVm>

@{
    ViewBag.Title = "Grades";
}

<h2 class="text-center">Grades</h2>

<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            <h4 class="text-center">
                @Html.DisplayFor(modelItem => item.Value)@Html.DisplayFor(modelItem => item.Class)
            </h4>
        </td>
        <td>
            @Html.ActionLink("Subjects", "All", "Subjects", new { id = item.Id }, new { @class = "btn btn-info all-grades-btn" }) 
        </td>
        <td>
            @Html.ActionLink("Students", "All", "Students", new { id = item.Id }, new { @class = "btn btn-primary all-grades-btn" })
        </td>
    </tr>
}

</table>