@model SchoolSystem.Models.ViewModels.Manage.IndexViewModel
@{
    ViewBag.Title = "Профил";
}

<h2 class="text-center">@User.Identity.Name</h2>

<p class="text-success text-center">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <p class="text-center">
        [
        @if (Model.HasPassword)
            {
            @Html.ActionLink("Променете паролата си", "ChangePassword")
        }
        else
        {
            @Html.ActionLink("Задай парола", "SetPassword")
        }
        ]
    </p>
</div>