@model IEnumerable<SchoolSystem.Models.ViewModels.DirectorPanel.AllTeachersVm>

@{
    ViewBag.Title = "AllTeachers";
}

<h3>All Teachers</h3>

<div>
    @Html.ActionLink("Add Teacher", "AddTeacher")
</div>

<table class="table">
    <tr>
        <th>
            Username
        </th>
        <th>
            Name
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.ActionLink("Remove Teacher", "RemoveTeacher", new { id = item.Id }, null)
        </td>
    </tr>
}

</table>
