@model IEnumerable<SchoolSystem.Models.ViewModels.DirectorPanel.Grades.DirectorAllGradesVm>

@{
    ViewBag.Title = "Класове";
}

<h3 class="text-center">Класове</h3>

@Html.ActionLink("Добави клас", "Add", null, new { @class = "btn btn-sm btn-info add-btn add-grade-btn" })
<br />

<table class="table">

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Value)@Html.DisplayFor(modelItem => item.Class)
        </td>
        <td>
            @Html.ActionLink("Премахни клас", "Remove", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })
        </td>
    </tr>
}

</table>
