@model IEnumerable<SchoolSystem.Models.ViewModels.DirectorPanel.Grades.DirectorAllGradesVm>

@{
    ViewBag.Title = "All";
}

<h3>All Grades</h3>

<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Value)@Html.DisplayFor(modelItem => item.Class)
        </td>
    </tr>
}

</table>
