@model IEnumerable<SchoolSystem.Models.ViewModels.DirectorPanel.Grades.DirectorAllGradesVm>

@{
    ViewBag.Title = "All";
}

<h3 class="text-center">All Grades</h3>

@Html.ActionLink("Add grade", "Add", null, new { @class = "btn btn-sm btn-info add-btn add-grade-btn" })
<br />

<table class="table">

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Value)@Html.DisplayFor(modelItem => item.Class)
        </td>
        <td>
            @Html.ActionLink("Remove grade", "Remove", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })
        </td>
    </tr>
}

</table>
