@model IEnumerable<SchoolSystem.Models.ViewModels.SchoolDiary.Subjects.AllSubjectsFromGradeVm>

@{
    ViewBag.Title = "Предмети";
}

@if (Model.Any())
{
    <h2 class="text-center">Предметите на @Html.DisplayFor(model => Model.First().Grade.Value)@Html.DisplayFor(model => Model.First().Grade.Class) клас</h2>
}

<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Информация", "SubjectDetails", new { id=item.Id }, new { @class = "btn btn-sm btn-primary subject-info-btn" })
        </td>
    </tr>
}

</table>

@Html.ActionLink("Назад", "All", "Grades", null, new { @class = "btn btn-sm btn-default go-back-btn" })