@{
    ViewBag.Title = "За нас";
}

<h2 class="text-center">@ViewBag.Title</h2>

<p id="about-us" class="text-center">
    Ние сме най-якото училище в света.
    При нас работят най-яките учители и учат на-яките ученици.
    Разполагаме с най-яката база, която се намира на най-якото място.
    <br />
    Ако сте яки или ако искате да станете яки елате при нас.
</p>

<img id="about-us-pic" src="~/Content/img/education.png" alt="Картинка за образованието" />