@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<img class="error-pic" src="~/Content/img/error.png" alt="Картинка показваща грешка" />
<h1 class="text-danger text-center">Възникна грешка.</h1>