body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#note {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    border-radius: 10px;
}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: none;
}

.table{
    width: 50%;
    margin-left: 25%;
}

#students-table{
    width: 90%;
    margin-left: 5%;
}

.btn {
    border: 2px solid;
    border-radius: 10px;
    display: block;
    margin: auto;
    width: 25%;
}

.abs-btn{
    width: 12%;
} 

.edit-btn {
    width: 7%;
}

.add-btn{
    width: 7%;
}

.student-btn {
    width: 20%;
    display: inline-block;
}

.all-grades-btn{
    width: 50%;
}

.go-back-btn{
    width: 7%;
}

.btn-info {
    background-color: slateblue;
}

.subjects-btn{
    width: 45%;
}

.btn-info:hover {
    background-color: darkslateblue;
    border-color: darkslateblue;
}

.add-teacher-btn{
    width: 10%;
}

.add-grade-btn {
    width: 10%;
}

.add-subject-btn {
    width: 18%;
}

.add-student-btn {
    width: 18%;
}

.remove-teacher-btn{
    width: 60%;
}

.remove-student-btn{
    width: 50%;
}

#log-off{
    padding-right: 30px;
}

dl {
    margin-left: 35%;
    width: 30%;
}

.form-horizontal {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.subject-container {
    border: 1px solid blue;
    border-radius: 15px;
    margin-bottom: 20px;
    width: 80%;
    margin-left: 10%;
}

.subjects-table {
    width: 70%;
    margin-left: 15%;
}

.student-container {
    border: 1px solid blue;
    border-radius: 15px;
    margin-bottom: 20px;
    width: 80%;
    margin-left: 10%;
}

.students-table {
    width: 70%;
    margin-left: 15%;
}

.btn-group-vertical {
    float: left;
    width: 200px;
}

#cont {
    float: right;
    width: calc(100% - 200px);
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background: #999;
}