body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("img/notebook.png");
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 3.5rem;
}

h2 {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
}

h3 {
    font-family: 'Lobster', cursive;
    font-size: 2.6rem;
}

h4 {
    font-family: 'Lobster', cursive;
    font-size: 2.2rem;
}

h5 {
    font-family: 'Lobster', cursive;
    font-size: 1.8rem;
}

h6 {
    font-family: 'Lobster', cursive;
    font-size: 1.4rem;
}

p, div {
    font-family: 'Lobster', cursive;
    font-size: 2.3rem;
}

.navbar-nav > li > .dropdown-menu {
    font-family: 'Lobster', cursive;
    font-size: 2.3rem;
    width: 100%;
}

.navbar-nav > li > .dropdown-menu {
    text-align: center;
}
    
.navbar-brand {
    font-size: 2.3rem;
}

.control-label {
    font-size: 2rem;
}

.register-label {
    font-size: 2rem;
}

span {
    font-size: 2rem;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#note {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    border-radius: 10px;
}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: none;
}

.table{
    width: 50%;
    margin-left: 25%;
}

#students-table{
    width: 90%;
    margin-left: 5%;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.btn {
    border: 2px solid;
    border-radius: 10px;
    display: block;
    margin: auto;
    width: 50%;
    font-size: 1.8rem;
}

.submit-btn{
    width: 20%;
    padding: 8px;
}

.abs-btn{
    width: 16%;
} 

.edit-btn {
    width: 10%;
}

.add-btn{
    width: 15%;
}

.student-btn {
    width: 20%;
    display: inline-block;
}

.all-grades-btn {
    width: 48%;
    display: inline-block;
}

.go-back-btn{
    width: 10%;
}

.btn-info {
    background-color: slateblue;
}

.subjects-btn{
    width: 82%;
}

.btn-info:hover {
    background-color: darkslateblue;
    border-color: darkslateblue;
}

.add-teacher-btn{
    width: 15%;
}

.add-grade-btn {
    width: 15%;
}

.add-subject-btn {
    width: 32%;
}

.add-student-btn {
    width: 32%;
}

.remove-teacher-btn{
    width: 95%;
}

.remove-student-btn{
    width: 90%;
}

#log-off{
    padding-right: 30px;
}

dl {
    margin-left: 25%;
    width: 50%;
}

.dl-horizontal dt {
    width: 40%;
    padding-right: 10px;
}

.form-horizontal {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.subject-container {
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 20px;
    width: 80%;
    margin-left: 10%;
}

.subjects-table {
    width: 70%;
    margin-left: 15%;
}

.student-container {
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 20px;
    width: 80%;
    margin-left: 10%;
}

.students-table {
    width: 70%;
    margin-left: 15%;
}

.btn-group-vertical {
    float: left;
    width: 200px;
}

#cont {
    float: right;
    width: calc(100% - 200px);
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background: #999;
}

.carousel-inner > .item > img {
    height: auto;
    width: 80%;
    margin-left: 10%;
}

#myCarousel {
    width: 80%;
    margin-left: 10%;
}

.carousel-control .glyphicon-chevron-left {
        margin-left: -35px;
}

.carousel-control .glyphicon-chevron-right {
    margin-right: -35px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #090909;
}

.error-pic{
    margin-top: 50px;
    width: 16%;
    margin-left: 42%;
}

.contact-us-img{
    width: 30%;
    margin-left: 35%;
}

#about-us {
    float: right;
    width: 50%;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 100px;
}

#about-us-pic {
    float: left;
    width: 40%;
}

#registration-btn {
    margin-top: 25px;
}