@model SchoolSystem.Models.ViewModels.DirectorPanel.DirectorGradeVm

@{
    ViewBag.Title = "_StudentPartial";
}

<div class="student-container">
    <h3 class="text-center">
        @Html.DisplayFor(modelItem => Model.Value)@Html.DisplayFor(modelItem => Model.Class) клас
    </h3>
    <div>
        @Html.ActionLink("Добави ученик", "Add", new { id = Model.Id }, new { @class = "btn btn-sm btn-info add-student-btn" })
    </div>
    <br />
    <table class="table students-table">
        @foreach (var student in Model.Students.OrderBy(s => s.Name))
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => student.Name)
                </td>
                <td>
                    @Html.ActionLink("Премахни ученик", "Remove", new { id = student.Id }, new { @class = "btn btn-sm btn-danger remove-student-btn" })
                </td>
            </tr>
        }
    </table>
</div>