@model IEnumerable<SchoolSystem.Models.ViewModels.DirectorPanel.DirectorGradeVm>

@{
    ViewBag.Title = "Ученици";
}

<h2 class="text-center">Ученици</h2>

<div class="btn-group-vertical">
    @foreach (var grade in Model)
    {
        @Ajax.ActionLink($"{grade.Value}{grade.Class} клас", "Load", new { id = grade.Id }, new AjaxOptions()
        {
            HttpMethod = "get",
            UpdateTargetId = "cont"
        },
        new { @class = "btn btn-default" })
    }
</div>

<div id="cont">
</div>