@model IEnumerable<SchoolSystem.Models.ViewModels.DirectorPanel.DirectorAllTeachersVm>

@{
    ViewBag.Title = "Учители";
}

<h3 class="text-center">Учители</h3>

<div>
    @Html.ActionLink("Добави учител", "Add", null, new { @class = "btn btn-sm btn-info add-btn add-teacher-btn" })
    <br />
</div>

<table class="table">
    <tr>
        <th>
            Потребителско име
        </th>
        <th>
            Име
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.ActionLink("Премахни учител", "Remove", new { id = item.Id }, new { @class = "btn btn-sm btn-danger remove-teacher-btn" })
        </td>
    </tr>
}

</table>